%main{ data: { init: 'header', load: 'header' } }
  #header.container-fluid
    .row.text-xs-center
      #nav___left.text-xs-left
        - if !params[:work_item].nil?
          = link_to :back do
            = icon('chevron-left')      
      #nav__middle.hidden-sm-down
      #nav__right.text-xs-right
        - if !current_page?(root_path) && params[:work_item].nil?
          #nav-icon
            %span
            %span
            %span
            %span
  #menu
    .container-fluid
      .row.text-xs-center
        .col-xs-12
          //clean up br's 
          %br
          %br
          %br
          = link_to work_path do
            .video-container
              = video_tag("nurture.mp4", "nurture.mp4", :loop=>'true', :autoplay=>'false', id: "nyc")
              .overlay-desc
                %h1 work
          
          //clean up br's 
          %br.hidden-md-up

          = link_to life_path do
            .video-container
              = video_tag("nature.mp4", "nature.mp4", :loop=>'true', :autoplay=>'false', id: "nature")
              .overlay-desc
                %h1 life

    %footer{style: 'position:fixed;bottom:0;left:0;right:0;padding-bottom:30px;'}
      .container-fluid
        .row.text-xs-center
          = link_to :root do
            = icon('anchor', '', style: 'font-size:35px;')
