%main{ data: { init: 'home', load: 'home' } }
  #homepage-primary-slide
    .container-fluid
      .row.text-xs-center
        .col-lg-4.offset-lg-4.col-xs-6.offset-xs-3
          - @homepage.each do |item| 
          - next if item.nil?
            = image_tag item['images']['src'], class: 'img-fluid', id: 'homepage-main-image'
            / %h1= item['title'] 
          %a{ href: '//github.com/matthew-elia'}
            %h3= icon('github', id: 'github-link', style: 'color:black;') 
      %br
      .row.text-xs-center
        .col-xs-12
          %i= icon('chevron-down', id: 'arrow-down-icon', class: 'img-fluid') 
      .row.text-xs-center
  #homepage-secondary-slide
    .container-fluid{style:'margin-top:50px;'}
      .row.text-xs-center
        .col-xs-12
          #carouselExampleControls.carousel.slide{"data-ride" => "carousel"} 
            .carousel-inner{:role => "listbox"}
              - @portfolio.each do |item| 
              - next if item.nil?
                .carousel-item 
                  .row.text-xs-center                      
                    .col-lg-4.col-xs-12
                      %br
                      %br
                      %h2.item-title= item['title']
                      %hr
                      %p.item-description= item['description']
                    .col-lg-8.col-xs-12
                      = image_tag ''+item['images']['src']+'', class: 'img-fluid portfolio-gif'