%main{ data: { init: 'home', load: 'home' } }
  #splash-screen
    .container-fluid
      .row.text-xs-center
        %h1 mattelia[dot]com
      .row.text-xs-center
        = icon('chevron-down', id: 'splash-screen-arrow-down')
  #home
    #left-panel
      = link_to bio_path do
        = video_tag("nature.mp4", "nature.mp4", :loop=>'true', :autoplay=>'false', id: "nature")
      #left-panel-overlay
        %h1
          portfolio
    #right-panel
      = link_to work_path do
        = video_tag("nurture.mp4", "nurture.mp4", :loop=>'true', :autoplay=>'false', id: "nyc")
      #right-panel-overlay
        %h1
          bio
